.btn{
    background-color: mediumslateblue;
}
.btn:hover{
    background-color: slateblue;
}
.jumbotron{
    background-color: gainsboro;
}
nav{
    margin-bottom: 20px;
}
#backmain, #clearsco{
    border: 0cm;
}
